@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
main{
  height: 100%;
  padding: 30px;
  background: rgb(129,48,48);
  background: linear-gradient(137deg, rgba(129,48,48,1) 0%, rgba(255,84,84,1) 100%);
}

.box-day{
  width: 50px;
  display: block;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  cursor:pointer;
  transition: all ease .3s;
  margin:20px;
}

.box-day:hover{
  transform: scale(120%);
}

.box-day.active{
  background-color: white;
  color: rgba(255,84,84,1)
}

.box-day.inactive{
  background-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.2);
  pointer-events: none;
}

.map-container{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.info-box{
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  padding: 20px;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.info-box .img-case{
  display: none;
  width: 60%;
  margin: 0 auto;
}

.close{
  height: 30px;
  width: 30px;
  background-image: url(img/close.svg);
  background-size: cover;
  position: fixed;
  z-index: 3;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  right: 50%;
  top: 30px;
  cursor: pointer;
}
.dyn-text{
  color: white;
  text-align: center;
  max-width: 250px;
  margin-top:10px;
}